.gradle
build
docker-compose.yml
db/Dockerfile
apiserver/.classpath
apiserver/.factorypath
apiserver/.project
apiserver/src/main/resources/app/config/proxy-list.txt
apiserver/src/test/resources/application-test.yml
apiserver/.idea
apiserver/.settings
apiserver/bin
.idea
**/src/main/resources/application.yml
crawlerserver/service/bin/main/com/zipline/service
