.gradle
build
docker-compose.yml
db/Dockerfile
.classpath
.factorypath
.project
.settings
bin
.idea
**/src/main/resources/application.yml
kubernetes/monitoring/grafana/grafana-secret.yaml
*.iml
**/.DS_Store
gradle.properties